apiVersion: apps/v1
kind: Deployment
metadata:
  name: ckapp 
spec:
  selector:
    matchLabels:
      app: ckapp
  replicas: 3
  template:
    metadata:
      labels:
        app: ckapp
    spec:
      containers:
      - name: ckapp
        image: nanajanashia/argocd-app:1.2
        ports:
        - containerPort: 8080
